.header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 80px;
    margin-left: 20px;
}

.nav-items > ul {
    display: flex;
    font-size: 20px;
    margin-right: 20px;
}

.nav-items > ul > li {
    list-style-type: none;
    padding: 10px;
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.search-input {
    margin-right: 10px;
}

.search > input{
    padding: 5px
}

.top-rated-button {
    padding: 5px;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card {
    width: 280px;
}

.restaurant-image {
    width: 80%;
    height: 200px;
}

.shimmer {
    background: linear-gradient(
        90deg,
        #f0f0f0 25%,
        #e0e0e0 50%,
        #f0f0f0 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    margin: 5px;
}

@keyframes shimmer {
    100% {
        background-position: -200% 0;
    }

    0% {
        background-position: 200% 0;
    }
}

.shimmer-text {
    height: 20px;
    margin-bottom: 10px;
    width: 80%;
}